body {
    background-color: lightskyblue;
}
.text-gold
{
    color: goldenrod;
}


.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    perspective: 1000px;
}
.card {
    width: 200px;
    height: 300px;
    cursor: pointer;
}
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 8px;
    color: white;
    box-shadow: 0 0 8px black;
}

.card-front {
    background-color: white;
    border: 1px solid dimgrey;
    color:black;
}
.card-back {
    background-color: grey;
    transform: rotateY(180deg);
}
.rotate-y-180 {
    transform: rotateY(180deg);
}
