<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hackathon{% endblock %}</title>
        <link rel="icon" href="{{ asset('image/icon.png') }}">
        <link rel="stylesheet" href="{{ asset('style.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body style="margin: 0;padding: 0;font: normal 14px Helvetica;">
        <header style="background : cornflowerblue" >
            <h1 >Hackathon</h1>
            <a href={{ path('app_demo') }}> page demo</a>
        </header>
        {% block body %}
        {% endblock %}
        <footer>

        </footer>
    </body>
</html>
